<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
</head>
<body>
    <form th:method="PUT" th:action="@{/change-locale}">
        <select name="locale">
            <option value="ko">한국어</option>
            <option value="en">영어</option>
            <option value="ja">일본어</option>
            <option value="zh">중국어</option>
            <option value="other">기타</option>
        </select>

        <button type="submit">수정</button>
    </form>

    <table>
        <tr th:each="product : ${products}">
            <td th:text="${product.productSeq}"></td>
            <td th:text="${product.productPropertySeq}"></td>
            <td th:text="${product.productType}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDesc}"></td>
        </tr>
    </table>
</body>
</html>
